.nav-link {
    color: rgb(255, 253, 253);
}

    
.navbar {
    align-items: center;
    background-image: linear-gradient(to bottom,black,rgba(255, 255, 255, 0));
 }



.navbar-nav {
    margin-right: 200px;
}
@media(max-width:468px) {
    .navbar-brand{
       justify-items: center;
    }
    
}



@media (max-width: 468px) {
    .carousel-caption {
        width: 300px;
        top: 12%;
       margin-left: 20px;
        text-align: center;
        margin-bottom: 40px;
        font-size: 90%;
       
    }
}


@media (max-width: 768px) {
    .navbar-nav {
        margin-right: 100px;
        background-color: #0a3603f3;
       
    }
}

@media (max-width:468px)  {
    .logo{
        margin-bottom: 25px;
    }
    
}


.logo {
    margin-left: 200px;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.466);
    margin: 15px;


}







@media (max-width: 468px) {
    .head-6 {
        margin-left: 60px;
    }

}

@media (max-width: 468px) {
    .head-8 {
        margin-left: 50px;
    }
}

@media (max-width: 468px){
    .last{
        padding: 60px;
        text-size-adjust: 100%;
    }
}





.carousel-caption {
    padding-bottom: 220px;
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;

}


.carousel-caption p {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;

}


h2 {
    font-size: 40px;
}

.p1 {
    text-align: center;
    background-color: white;
    padding: 50px;


}


.p1 h1 {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;

}

.p1 p {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.second {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;

}

.second-2 {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;

}

.section-three h1 {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;


}

.section-four {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;

}

.section-five {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;


}

.second11 {
    padding-top: 20px;
}

.head-6 {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;


}

.subhead-6 {

    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}




.section-seven {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;

}

.section-eight {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;

}

.sss {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    margin-right: 50px;
    font-size: large;

}

.ss2 {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    margin-right: 50px;
    font-size: large;
 



}

.btn{
    margin-left: 40px;
}




.topic-2 {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;

}

.topic {
    align-items: justify;
}

.secondimage {

    width: 900px;
}

.carousel-inner img {
    background-size: cover;
    background: no-repeat;
    font-family: "Permanent Marker";
    font-size: 24px;
    font-style: normal;
}

.section-two {
    background-color: black;
    color: white;


}

.second {
    padding-top: 70px;
    padding-left: 50px;
}


.p2 {
    text-align: center;
    background-color: white;
    padding: 30px;


}

.section-five {
    padding-top: 10px;
    padding-bottom: 10px;
    background-size: cover;

}

.section-six {
    background-color: black;
    color: white;
}



.p2 {
    background-color: #F8F2E7;
    padding: 80px;

}

.topic-2 {
    text-align: center;
}

.secondimg {
    padding-right: 40px;
    background-color: white;
    text-align: center;

}


.second {

    margin-right: 410px;
    text-align: center;

}
@media (max-width:468px){
    .second{
        margin-left: 20px
    }
}

.second-2 {

    margin-left: 50px;
    margin-right: 50px;
}
@media (max-width:468px){
    .second-2{
        margin: 60px;
    }
}


.head-2 {
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;

}

.subhead-2 {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;


}
@media (max-width:468px){
    .subhead-2{
        margin: 60px;
        text-align: center;
       
    }
}

.text-2 {
    color: black;
    background-color: white;
}

.head-6 {
    margin-top: 50px;
    margin-right: 300px;
    text-align: center;
}
@media (max-width:468px){
    .head-6{
        text-align: start;
    }
}

.subhead-6 {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 40px;

}
@media (max-width:468px){
    .subhead-6{
        margin: 50px;
        margin-left: 60px;
    }
}

.section-seven {
    padding: 90px;

}

.head-8 {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 100px;
    text-align: center;
}

.subhead-8 {
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;


}
@media (max-width:468px){
    .subhead-8{
        margin: 50px;
    }
}



.card-section {
    padding: 40px;
    background-color: #F8F2E7;


}

.card-container {
    text-align: center;

}

.textcard {
    align-items: center;

}

.card {
    height: 520px;

}

.sss {
    padding-top: 50px;
}

@media (max-width:468px) {
    .footer-container{
        margin-right: 40px;
    }
    
}

@media (max-width:468px) {
    .footer-img{
        margin-left: 0px;
    }
    
}


.footer {
    background-color: black;
    padding-left: 110px;
    padding-top: 15px;
}

.footer-img {
    height: 50px;
}

.footer-row {
    padding-top: 50px;
}
@media (max-width:468px) {
    .footer-row{
        margin-left: 10px;
        margin-right: 20px;
    }
    
}
@media (max-width:468px){
    .ft{
        margin-left:40px;
    }
}
@media (max-width:468px){
    .lst{
        margin-left: 30px;
       
    }
}



.section-nine {
    background-color: white;
}

.border-box {
    margin-bottom: 20px;
    width: 350px;
    background-color: transparent;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}

.copyright {
    color: white;
    text-align: start;
    padding: 10px;
}

.box {
    outline: none;
}



section {
    overflow-x: hidden;
}

::selection {
    color: white;
    background-color: green;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background-color: green;
}

/* contact section */

.contactone{
    margin-top: 150px;
    margin-left: 150px;
}
